* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 90%;
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}

header {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
}

.area-logo {
    width: 150px;
}

.logo {
    object-fit: cover;
    width: 100%;
}

.bread-crumbs {
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
}

.bread-crumbs a::after {
    content: " / ";
}

.bread-crumbs span {
    text-transform: uppercase;
}

.bread-crumbs p {
    padding: 0 3px;
}

nav {
    width: 80%;
}

.menu {
    display: flex;
    margin-left: 5%;
    justify-content: space-between;
}

nav div a {
    padding: 10px;   
}

header div {
    flex-basis: 70px;
    align-items: center;
}

.lang {
    display: flex;
    margin-left: 2%;
}

.lang a img {
    width: 20px;
    height: 18px;
    object-fit: cover;
}

.menu-icon {
    display: none;
}

.icon-english {
    width: 50px;
    height: 50px;
    background-size: 100%;
    background-image:url('./img/ico-eng.png');
}

main {
    display: flex;
    padding: 10px 0;
}

section {
    padding: 10px 0;
}

section p span {
    text-transform: uppercase;
}

aside {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 300px;
}

aside h2 {
    /* padding: 0 10px; */
    text-transform: uppercase;
}

article {
    display: flex;
    flex-direction: column;
}

.shop-roshen {
    object-fit: cover;
    width: 100%;
}

article h3 {
    padding: 10px 0;
}

article p {
    padding: 10px 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    font-size: 12px;
    font-weight: bold;
}

address, .phone, .email {
    display: flex;
    flex-direction: column;
}

address, .phone, .email {
    padding: 10px;
}

.phone a:first-of-type, .phone p {
    display:contents;
}

.phone a:last-child {
    padding-left: 2em;
}

@media screen and (min-width: 329px) and (max-width: 767px) {

    nav {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .lang a img {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    aside {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    address, .phone, .email {
        padding: 20px 10px;
    }

}

@media screen and (min-width: 768px) and (max-width: 999px) {
    
    nav {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .lang a img {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1230px) {

    header {
        font-size: 12px;
    }

    nav {
        width: 80%;
    }
    .menu {
        margin-left: 6%;
    }

    nav div a {
        padding: 5px;   
    }
    
    header div {
        flex-basis: 55px;
    }
    
    .lang {
        margin-left: 0%;
    }

    article p, footer  {
        font-size: 13px;  
    }

}

@media screen and (min-width: 1471px) and (max-width: 1600px) {

    header {
        padding: 20px 0;
        font-size: 16px;
        font-weight: bold;
    }

    nav {
        width: 74%;
    }

    .menu {
        margin-left: 2%;
    }

    .menu-icon {
        display: none;
    }

    .area-logo {
        width: 180px;
    }

    main {
        display: flex;
        padding: 15px 0;
    }

    aside {
        display: flex;
        flex-direction: column;
        min-width: 250px;
        max-width: 350px;
    }

    article p, footer {
        font-size: 16px;
    }
}

@media screen and (min-width: 1601px) and (max-width: 2700px) {

    header {
        padding: 20px 0;
        font-size: 18px;
        font-weight: bold;
    }

    nav {
        width: 75%;
    }

    .menu {
        margin-left: 1%;
    }

    .menu-icon {
        display: none;
    }

    .area-logo {
        width: 180px;
    }

    main {
        display: flex;
        padding: 15px 0;
    }

    aside {
        display: flex;
        flex-direction: column;
        min-width: 250px;
        max-width: 350px;
    }

    article p, footer {
        font-size: 18px;
    }
}
